{% extends "layout.html" %}
{% block head %}
<head>
    <title>regi</title>
    <style>
        #searchbox {
            margin: 0px;
        }
        #autocomplete-suggestions {
            margin:0px;
        }
        #autocomplete-suggestions ul {
            list-style: none;
        }
    </style>
</head>
{% endblock %}
<style>
    body {
        background-image: url(static/img/brushed_alu.png);
    }
</style>
{% block body %}
<div style="margin-top:-21px;float:center; padding: 20px;background-color: #ffffff; border-width:1px; border-style: solid; bordercolor:#2F4F4F";>

<h1>About</h1>
<p>Regi was developed by Thomas Georgiou, Mari Miyachi, Mike Klinker, and Chris
Cook for <a href="https://stellar.mit.edu/S/course/21W/sp12/21W.785/">21W.785</a>, Communicating through Web-Based Media.</p>
<p>Thanks to Professor Ed Barrett, TA Amar Boghani, and the IS&T Accessibility team.</p>

</div>
{% endblock %}
