{% extends "layout.html" %}
{% block head %}
<head>
    <title>regi</title>
    <style>
        #searchbox {
            margin: 0px;
        }
        #autocomplete-suggestions {
            margin:0px;
        }
        #autocomplete-suggestions ul {
            list-style: none;
        }
    </style>
</head>
{% endblock %}
<style>
    body {
        background-image: url(static/img/brushed_alu.png);
    }
</style>
{% block body %}
<div style="float:center; padding: 20px;background-color: #ffffff; border-width:1px; border-style: solid; bordercolor:#2F4F4F";>

<h1>About</h1>
<p>Regi was developed by Thomas Georgiou, Mari Miyachi, Mike Klinker, and Chris
Cook</p>

</div>
{% endblock %}
