<div class='scheduler-wrapper'>
<div class='schedule-content' data-tooltip=''>
<div class='schedule-display'>
<ul class='time-label'>
<li>8 am</li>
<li>9 am</li>
<li>10 am</li>
<li>11 am</li>
<li>12 pm</li>
<li>1 pm</li>
<li>2 pm</li>
<li>3 pm</li>
<li>4 pm</li>
<li>5 pm</li>
<li>6 pm</li>
<li>7 pm</li>
<li>8 pm</li>
<li>9 pm</li>
</ul>
<ul class='schedule-day M' day='M'>
<li class='header'>Monday</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<!--<div class='color-0 schedule-block' days='MWF' style='top: 219.0px; height: 40.0px;'>
<span class='course-name'>6.046</span>
<span class='course-title'>Data Structures</span>
<span class='section-type label'>LEC</span>
</div>-->

</ul>
<ul class='schedule-day T' day='T'>
<li class='header'>Tuesday</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<ul class='schedule-day W' day='W'>
<li class='header'>Wednesday</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<!--<div class='color-0 schedule-block' days='MWF' style='top: 226.0px; height: 40.0px;'>
<span class='hidden id'>35238</span>
<span class='hidden crn'>35917</span>
<span class='section-code'>AL1</span>
<span class='course-name'>CS 225</span>
<span class='course-title'>Data Structures</span>
<span class='enrollment status-2' title='Restricted to Computer Engineering or Computer Science or Electrical Engineering or Statistics &amp; Computer Science or Math &amp; Computer Science major(s). Restricted to Undergrad - Urbana-Champaign. '></span>
<span class='section-type label'>LEC</span>
<span class='duration'>12pm-12:50pm</span>
<ul class='hidden-data' style='top: 40.0px;'>
<li>
<span class='title'>Credit Hours</span>
<span class='data'>4</span>
</li>
<li>
<span class='title'>Professor</span>
<span class='data'></span>
</li>
<li>
<span class='title'>Description</span>
span class='data'>Data abstractions: elementary data structures (lists, stacks, queues, and trees) and their implementation using an object-oriented...</span>
</li>
</ul>
</div>-->

<!--<div class='color-0 schedule-block' days='W' style='top: 562.0px; height: 88.0px;'>
<span class='hidden id'>35240</span>
<span class='hidden crn'>35926</span>
<span class='section-code'>AYB</span>
<span class='course-name'>CS 225</span>
<span class='course-title'>Data Structures</span>
<span class='enrollment status-1' title='Open'></span>
<span class='section-type label'>LBD</span>
<span class='duration'>7pm-8:50pm</span>
<ul class='hidden-data' style='top: 88.0px;'>
<li>
<span class='title'>Credit Hours</span>
<span class='data'>4</span>
</li>
<li>
<span class='title'>Professor</span>
<span class='data'></span>
</li>
<li>
<span class='title'>Description</span>
<span class='data'>Data abstractions: elementary data structures (lists, stacks, queues, and trees) and their implementation using an object-oriented...</span>
</li>
</ul>
</div>-->

</ul>
<ul class='schedule-day R' day='R'>
<li class='header'>Thursday</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<ul class='schedule-day F' day='F'>
<li class='header'>Friday</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<!--<div class='color-0 schedule-block' days='MWF' style='top: 226.0px; height: 40.0px;'>
<span class='hidden id'>35238</span>
<span class='hidden crn'>35917</span>
<span class='section-code'>AL1</span>
<span class='course-name'>CS 225</span>
<span class='course-title'>Data Structures</span>
<span class='enrollment status-2' title='Restricted to Computer Engineering or Computer Science or Electrical Engineering or Statistics &amp; Computer Science or Math &amp; Computer Science major(s). Restricted to Undergrad - Urbana-Champaign. '></span>
<span class='section-type label'>LEC</span>
<span class='duration'>12pm-12:50pm</span>
<ul class='hidden-data' style='top: 40.0px;'>
<li>
<span class='title'>Credit Hours</span>
<span class='data'>4</span>
</li>
<li>
<span class='title'>Professor</span>
<span class='data'></span>
</li>
<li>
<span class='title'>Description</span>
<span class='data'>Data abstractions: elementary data structures (lists, stacks, queues, and trees) and their implementation using an object-oriented...</span>
</li>
</ul>
</div>-->

</ul>
</div>
</div>
</div>

<script>
    function displayClass(cl) {
        return;
        alert(cl.hi);
    }
    displayClass({'hi': 5});
</script>
<script>
    var schedule = {{schedule | tojson | safe}};
    for (var i = 0; i < schedule.length; i++) {
        //alert(schedule[i]);
        $.tmpl("<div class='color-${color} schedule-block' style='top: ${top}px; \
            height: ${height}px;'><a href='/class/${name}'> \
                <span class='course-name'>${name}</span></a> \
            <span class='section-type label'>${stype}</span> \
        </div>", 
        {"name": schedule[i].name,
         "top": (schedule[i].time-8)*47+31,
         "height": schedule[i].length * 46,
         "color": schedule[i].color,
         "stype": schedule[i].type
    }).appendTo("[day='" + schedule[i].day + "']");
    }
</script>
