{% extends "layout.html" %}
{% block head %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns# mitcourses:
    http://ogp.me/ns/apps/mitcourses#">
    <meta property="og:type" content="mitcourses:class" />
    <meta property="og:title" content="{{ cl.name }}" />
    <meta property="og:description" content="{{ cl.label }}" />
    <eta property="og:url" content="http://baguette.herokuapp.com/class/{{ cl.name }}" />
</head>
{% endblock %}

{% block body %}
<!--<h1>Hi {{ fbid }}</h1>-->
<h1>{{ cl.name }}</h1>
<h2>{{ cl.label }}</h2>
<h3>{{ cl.professor }}</h2>
<p>{{ cl.description }}</p>
<br />
<p>
{% if cl_is_taking %}
<a href="/class/{{ cl.name }}/untake">I'm not taking this class</a>
{% else %}
<a href="/class/{{ cl.name }}/take">Take this class</a>
{% endif %}
</p>

<div class="row-fluid">
    {% for f in friends %}
    <div>
        <h4>{{ f.name }}</h4>
    <img src="{{ f.pic_square}}">
    </div>
    {% endfor %}
</div>

{% endblock %}
