{% extends "layout.html" %}
{% block head %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns# mitcourses:
    http://ogp.me/ns/apps/mitcourses#">
    <meta property="og:type" content="mitcourses:class" />
    <meta property="og:title" content="{{ cl.name }}" />
    <meta property="og:description" content="{{ cl.label }}" />
    <eta property="og:url" content="http://baguette.herokuapp.com/class/{{ cl.name }}" />
</head>
{% endblock %}

{% block body %}
<h1>Hi {{ fbid }}</h1>
<h1>{{ cl.name }}</h1>
<h2>{{ cl.label }}</h2>
<h3>{{ cl.professor }}</h2>
{{ cl.description }}
<br />
{% if cl.is_taking %}
<a href="/class/{{ cl.name }}/untake">Untake this class/a>
{% else %}
<a href="/class/{{ cl.name }}/take">Take this class</a>
{% endif %}

<iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Fbaguette.herokuapp.com%2Fclass%2F6.046&amp;action=mitcourses%3Ais+taking&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=196886180398409" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>

{{ dbg }}
{% endblock %}
