{% extends "layout.html" %}
{% block head %}
<head>
    <title>regi</title>
    <style>
        #searchbox {
            margin: 0px;
        }
        #autocomplete-suggestions {
            margin:0px;
        }
        #autocomplete-suggestions ul {
            list-style: none;
        }
    </style>
</head>
{% endblock %}

{% block body %}
<h1>Hi {{ first_name }}!</h1>
<h3>You are currently registered for:</h3>
<ul>
    {% for c in classes %}
    <li><a href="/class/{{c.name}}">{{c.name}}</a></li>
    {% endfor %}
</ul>

<form action="search" method="get" class="form-search">
    <input type="text" name=q size=30 value="" placeholder="Search for a class"
    class="input-medium search-query">
    <input type="submit" value="Search" class="btn">
</form>

<div class="autocomplete-search-box">
    <input id="searchbox" class="ui-autocomplete-input">
    <div id="autocomplete-suggestions">
</div>

<script>
    $(function() {
        $("#searchbox").autocomplete({
            source: "autocomplete",
            appendTo: "#autocomplete-suggestions",
            delay: 100});
        });
</script>
<iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Fbaguette.herokuapp.com%2Fclass%2F6.046&amp;action=mitcourses%3Ais+taking&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=196886180398409" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>

{% endblock %}
