<!doctype html>
{% block head %}
<title>Baguette</title>
{% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<!-- disable responsive -->
<!--<link rel=stylesheet type=text/css href="{{ url_for('static',
filename='css/bootstrap-responsive.css') }}">-->
<style>
    body {
        padding-top: 60px; /* make the container go to the bottom of the top bar
        */
    }
</style>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    Regi
                </a>
                <ul class="nav pull-right">
                    <li><a>Thomas</a></li>
                    <li><a><i class="icon-search icon-white"></i></a></li>
                    <li><a>About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
