<!doctype html>
{% block head %}
<title>regi</title>
{% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<!-- disable responsive -->
<!--<link rel=stylesheet type=text/css href="{{ url_for('static',
filename='css/bootstrap-responsive.css') }}">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    type="text/javascript"></script>
<script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"
    type="text/javascript"></script>
<style>
    body {
        padding-top: 60px; /* make the container go to the bottom of the top bar
        */
    }
</style>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    regi
                </a>
                <ul class="nav pull-right">
                    <li><a>{{ session.first_name }}</a></li>
                    <li><a><i class="icon-search icon-white"></i></a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
